/* html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.15s ease-in-out;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: rgba(242, 242, 242, 0.6);
  margin: 0;
}

::selection {
  background: #c6c6c6; 
}
::-moz-selection {
  background: #c6c6c6; 
} */

/*NAVBAR*/
/* .navbar {
  background-color: #054c61;
  position: fixed; 
  top: 0; 
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar a {
  font-weight: 200;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  text-shadow: 2px 2px 5px white;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
} */

/* :root {
  --gradient: linear-gradient(
    45deg,
    #054c61,
    #06627d
    #08799b
    #098fb7,
    054c61,
    #05485c
  );
} */

/*JUMBOTRON*/
/* .jumbotron {
  height: 100vh;
  background: #054c61 url(../images/gradient-bkgrnd.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
} */

/* .jumbotron-text { */
  /*TAGLINE UNDER NAME*/
  /* font-weight: 400;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 150px;
} */

/* .jumbotron-text h1 { */
  /*AUSTIN SCHROEDER*/
  /* font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
  user-select: none;
}

.jumbotron-text p {
  margin: 0;
  user-select: none;
} */

/*SOCIAL LINKS*/
/* .ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 3em;
  color: white;
  padding: 20px;
}

.social:hover {
  text-shadow: 2px 2px 5px white;
} */

/*ARROW LINK*/
/* #down-arrow {
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#down-arrow a {
  color: white;
}

#down-arrow:hover {
  text-shadow: 2px 2px 5px white;
} */

/*CONTENT*/
/* .container {
  width: 100%;
  display: flex;
  flex-direction: column;
} */

/* .bgflipped {

  background-repeat: no-repeat;
  background-size: cover;
} */

/* .row {
  display: flex;
} */

/* .white {
  background: white;
} */

/* .side-content {
  flex: 0 0 16.6%;
} */

/* .main-content {
  flex: 1;
  margin-top: 2rem;
  margin-bottom: 3rem;
} */

/* .side-content-sm {
  flex: 0 0 10%;
} */

/* .main-content-lg {
  flex: 0 0 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
} */

/* .box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
} */

/* h2 {
  font-weight: 200;
  font-size: 2rem;
  color: #054c61;
  text-transform: uppercase;
  text-align: center;
} */

/* .content-body {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.75);
} */

/* li {
  list-style: square;
} */

/* EXPERIENCE */
/* .experience-flex {
  display: flex;
} */

/* .audio-engineer {
  margin-bottom: 0;
} */


/* .knowcap-ul li {
  margin-bottom: 10px;
} */

/* .gig-list {
  columns: 3;
  padding-left: 15px;
} */

/* .gig-list li {
  margin: 0 5px;
} */

/* marquee li {
  display: inline;
  margin-right: 15px;
}

marquee li::after {
  content: "|";
  padding: 0 3px;
}

marquee li::before {
  content: "|";
  padding: 0 3px;
} */

/*EDUCATION*/
/* .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 30px;
} */

/* .card-header {
  padding: 0.75rem 1.25rem;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
} */

/* .card-content {
  padding: 0.25rem 1.25rem;
  flex: 1 1 auto;
} */

/* h4 {
  margin: 0;
  font-weight: 600;
  font-size: 1.25em;
  color: grey;
} */

/* .job-title {
  float: right;
} */

/*PROJECTS*/
/* .project-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
} */

/* .project-card:hover {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
} */

/* .project-image {
  align-items: center;
  border-right: #054b6170 solid 1px;
} */

/* .project-image img {
  height: 100%; 
  width: 250px; 
  display: block;
  object-fit: cover;
} */

/* .project-content {
  flex: 1 1 auto;
  padding: 1.25rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-header,
.project-tech {
  margin: 0;
}

.project-description {
  margin: 0;
  font-style: italic;
} */

/* .project-content ul {
  margin: 0;
} */

/* .project-bullets {
  margin: 0;
} */

/* .project-links-container {
  margin: 0;
} */

/* .project-link {
  display: inline-block;
  font-size: larger;
  margin-left: 20px;
  height: 30px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.project-link:visited {
  color: inherit;
}

.project-link:hover {
  background-color: #054c61;
  color: white;
  text-decoration: none;
  height: 30px;
} */

/*SKILLS*/
/* .ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: #043949;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}

.fade {
  opacity: 0;
  transition: opacity 3s ease;
}

.fade-in {
  opacity: 1;
} */

/*CONTACT*/
/* .blue {
  background: #054c61;
  text-align: center;
}

.contact {
  max-width: 500px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #c4c8ca;
  color: #fff;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.contact textarea {
  height: 150px;
  resize: none;
}

.contact button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #054c61;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.white-text {
  color: white;
} */

/* FOOTER */
/* .footer {
  color: #054c61;
  transition: none;
}

.footer:hover {
  color: white;
  background-color: #054c61;
  border: 5px solid #054c61;
  border-radius: 5px;
  margin: -5px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container p {
  margin-bottom: 0;
  margin-right: 20px;
} */

/* *************************************** */
/* Mobile  */
@media screen and (max-width: 600px) {
  /* .navbar a {
    font-size: 12px;
    padding: 14px 10px;
  } */

  /* .jumbotron-text h1 {
    font-size: 3rem;
  } */
  /* .jumbotron-text {
    font-size: 1rem;
  } */

  /* .jumbotron {
    height: 600px;
  } */

  /* .side-content {
    flex: 0 0 25px;
  } */

  /* Being used for project cards as well  */
  /* .project-card {
    flex-direction: column;
  } 

  .project-image {
    border-right: none;
    border-bottom: #054b6170 solid 1px;
  }

  .project-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  } */

  /* .project-links-container {
    margin: 0;
  } */

  /* EXPERIENCE */
  /* .card-header h4 {
    font-size: 1em;
  } */

  /* .gig-list {
    columns: 1;
  } */

  /* .social {
    padding: 15px;
  } */

  /* FOOTER */
  /* .image-container {
    flex-direction: column;
  }

  .image-container p {
    margin-right: 0;
    margin-bottom: 5px;
  } */
}
/* *************************************** */
